.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @purple;
  }
  &.syntax--link {
    color: @orange;
  }
}
.syntax--markup.syntax--raw.syntax--gfm {
    color: @very-light-blue;
}
.syntax--comment.syntax--quote.syntax--gfm {
    color: @yellow;
}

.syntax--entity.syntax--gfm {
  color: @mint;
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--gfm {
      color: darken(@mint, 15%);
    }
  }
}
