.source.ruby {

  .variable.instance.ruby,
  .meta.embedded .variable.instance {
    color: @yellow;

    .punctuation {
      color: @yellow;
    }
  }

  .constant.symbol.hashkey {

    &,
    .punctuation.definition.constant.hashkey.ruby {
      color: @orange;
    }
  }

  .punctuation.separator.namespace {
    color: @mint;
  }
}
